{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}


{% block 'body' %}
{% include "partials/barra_navegacao.html" %}

<div class="container my-5">
    <h2 class="mb-4">Cadastro de Tipo de Equipamento</h2>

    {% if messages %}
        <div class="alert-container mb-4">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'cadastrar_tipo_equipamento' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label for="nome_tipo_equipamento">Nome do Tipo:</label>
                    <input type="text" id="nome_tipo_equipamento" name="nome_tipo_equipamento" placeholder="Digite o tipo" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-lg btn-indigo">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock 'body' %}